{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
  <link rel="stylesheet" href="{% static 'homeapp/homeapp.css'%}" >
{% endblock cssfile %}
{% block content %}
<script>
  window.initializeCarousel=()=>{
    $("carouselExampleSlidesOnly").carousel({interval:300});
  }
</script>

<div id="carouselExampleSlidesOnly" class="carousel slide mb-3" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src='{% static "homeapp/slideimg22.jpg" %}' alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src='{% static "homeapp/slideimg44.jpg" %}' alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src='{% static "homeapp/slideimg33.jpg" %}' alt="Third slide">
      </div>
    </div>
  </div>

<div class="container">
<div>
<h2 style="text-align: center;">Top restaurant in spotlight</h2>
<hr>
</div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src='{% static "homeapp/img33.jpg" %}' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">This Place Is Known For</h5>
        <p class="card-text">
          Good Food and Good Service, Proper Packaging, Elaborate Menu, Customizable Food, Worth the Money, Great Portions</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><strong>Restaurant: Health Fit</strong></small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src='{% static "homeapp/img22.jpg" %}' alt="Card image cap" width=300>
      <div class="card-body">
        <h5 class="card-title">This Place Is Known For</h5>
        <p class="card-text">Highly Recommended, Tasty Stuff Many Choices, Economical, Worth the Price, Not very Crowded</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><strong>Restaurant: Tandoori Taste</strong></small>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src='{% static "homeapp/img11.jpg" %}' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">This Place Is Known For</h5>
        <p class="card-text">Highly Recommended, Tasty Stuff, Many Choices, Economical, Worth the Price, Not very Crowded</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><strong>Restaurant: Punjabi Tadka</strong></small>
      </div>
    </div>
  </div>
</div>

  
{% endblock %}